# Database
DATABASE_URL="postgresql://postgres:PASSWORD@db.PROJECT.supabase.co:5432/postgres"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Supabase
NEXT_PUBLIC_SUPABASE_URL="https://PROJECT.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
SUPABASE_SERVICE_ROLE_KEY=""

# Claude API
CLAUDE_API_KEY=""

# CJ대한통운
CJ_API_KEY=""
CJ_API_SECRET=""

# 카카오 알림톡
KAKAO_REST_API_KEY=""
KAKAO_SENDER_KEY=""
